[
  {
    "text": "Avoid red enemies to survive.",
    "image": "https://i.ibb.co/ZRZc6W2G/avoid.jpg"
  },
  {
    "text": "Collect yellow x2 bonus to double your score!",
    "image": "https://i.ibb.co/FqBrQhS3/collect.jpg"
  },
  {
    "text": "White balls are obstacles. You can't go through them.",
    "image": "https://i.ibb.co/5Qh54jJ/obsticle.jpg"
  }
]
